<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">
</head>
<body>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3 class="Yekan" style="color:#2233dd">افزودن نویسنده جدید</h3>
          <form method="post" action="/author/new">

          <div class="form-group">
              <!--<label for="author-name" class="control-label Mitra" >نام نویسنده :</label>-->
              <input type="text" name="author-name" id="author-name" value="" placeholder= "نام نویسنده..." class="form-control" />
              <input type="text" name="author-family" id="author-family" placeholder="نام خانوادگی نویسنده..."/>
              <input type="email" name="author-email" id="author-email" value="" placeholder="ایمیل نویسنده..."  class="form-control"/>
              <input type="password" name="author-password" id="author-password" placeholder="کلمه عبور ..." class="form-control"/>

          </div>


        <input type="submit" class="btn btn-primary Yekan" value="ذخیره تغییرات" >
          </form>
    </div>
</div>
<!-- Modal -->
<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>