<!DOCTYPE html>
<html>
<head><title>Poem Maker Pro</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body style="direction:rtl">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3 class="Yekan" style="color:#2233dd">گروه های خبری : </h3>
          <form method="post" action="/category/new">

          <div class="form-group">
            <label for="category-name" class="control-label Mitra" >نام گروه :</label>
            <input type="text" name="category-name" id="category-name" value="" placeholder="نام گروه را وارد کنید !"      class="form-control" />

          </div>


        <input type="submit" class="btn btn-primary Yekan" value="ذخیره تغییرات" >
          </form>
    </div>
</div>

<!-- Modal -->

<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>