<!DOCTYPE html>
<html>
<head><title>Poem Maker Pro</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body style="direction:rtl">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3 class="Yekan" style="color:#2233dd">صفحه ورود نویسنده...</h3>
          <form method="post" action="/login">

          <div class="form-group">
            <!--<label for="category-name" class="control-label Mitra" >نام نویسنده...</label>-->
            <input type="email" name="au-mail" id="au-mail" value="" placeholder="ایمیل نویسنده..."      class="form-control" />
			<!--<label for="category-name" class="control-label Mitra" >نام نویسنده...</label>-->
            <input type="password" name="au-pass" id="au-pass" value="" placeholder="کلمه عبور..."      class="form-control" />
          </div>


        <input type="submit" class="btn btn-primary Yekan" value="ورود">
          </form>
        <br/>
        <td> <a class="btn" href="/author/new" > <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp; افزودن نویسنده...</button></td>
    </div>
</div>

<!-- Modal -->

<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>